* {
    padding: 0;
    margin: 0;
}

.top {
    height: 10vh;
    background-color: blueviolet;
    width: 100vw;
}

.main {
    height: 90vh;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left h1 {
    color: blueviolet;
    font-weight: bold;
}

.left h3 {
    color: black;
    font-style: italic;
    font-weight: 100;
}

.left {
    text-align: justify;
    align-content: center;
    height: 60vh;
    width: 40vw;
    font-size: x-large;
}

.boxShadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}